<div class="sectionSeperator"></div>
<p class="sectionPBody"><%= story_1 %></p>
<p class="sectionPBody"><%= story_2 %></p>
<p class="sectionPBody"><%= story_3 %></p>
<p class="sectionPBody"><%= story_4 %></p>
<div style="max-width:624px; margin:0 auto;">
	<div class="videoHolderRelative">
		<div class="videoHolder" id="caseStudyVideoHolder"></div>
	</div>
</div>
<p class="sectionPBody"><%= story_5 %></p>
<p class="sectionPBody"><%= story_6 %></p>
<p class="sectionPBody"><%= story_7 %></p>
<p class="sectionPBody"><%= story_8 %></p>
<p class="sectionPBody"><%= story_9 %></p>
<p class="sectionPBody"><%= story_10 %></p>
<p class="sectionPBody"><%= story_11 %></p>
<p class="sectionPBody"><%= story_12 %></p>
<p class="sectionPBody"><%= story_13 %></p>