<div class="sectionSeperator"></div>
<h4 style="padding-bottom:0;"><%= rate_of_violence_cities_title %></h4>
<p style="margin:0; padding:0; font-size:1.0625em; padding: 0.25em 0 1em 0;"><%= num_of_incidents_per %></p>
<div style="width:100%; text-align:center;">
<div class="map3Holder">
	<span class="tooltipOpacityAnim mapTooltip hideMapTooltip"></span>
</div><!--