--><div class="cityViolenceGraph">
	<h5><%= top_10_cities %></h5>
</div>
<span class="dataSource"><%= source %></span>
</div>
<p class="sectionPBody"><%= cities_map_1 %></p>
<p class="sectionPBody"><%= cities_map_2 %></p>
<p class="sectionPBody"><%= cities_map_3 %></p>
<p class="sectionPBody"><%= cities_map_4 %></p>
<p class="sectionPBody"><%= cities_map_5 %></p>
<p class="sectionPBody"><%= cities_map_6 %></p>