<%= include('includes/top.tmpl') %>

    <div class="main">
    	<%= include('topIntro.tmpl') %>
        <%= include('violenceBreakdownChart.tmpl') %>
        <%= include('caseStudy.tmpl') %>
        <%= include('stateViolenceMaps.tmpl') %>
        <%= include('populationViolenceGraph.tmpl') %>
        <%= include('cityViolenceMap.tmpl') %>
        <%= include('cityViolenceGraph.tmpl') %>
        <%= include('surveyGraph.tmpl') %>
        <%= include('storyBottom.tmpl') %>
    </div>

    <%= include('translationSpans.tmpl') %>

<%= include('includes/bottom.tmpl') %>