<div class="popVioGraphHolder">
    <div class="popVioGraphWithKeyRel">
    <div class="popVioGraphWithKeyAbs">
        <div class="popVioKeyHolder">
            <span class="popVioGraphKey"><div class="popVioGraphKeySquare popVioGraphKeySquare1"></div><%= national_violence_chart_key_1 %></span>
        </div>
        <div class="popVioKeyHolder">
            <span class="popVioGraphKey"><%= national_violence_chart_key_2 %> (<%= billion %>)<div class="popVioGraphKeySquare popVioGraphKeySquare2"></div></span>
        </div>

        <span class="popVioLeftSideFigures" style="top:0;"><%= national_violence_chart_incidents_key_1 %></span>
        <span class="popVioLeftSideFigures" style="top:33.3333%; margin-top:-0.5em;"><%= national_violence_chart_incidents_key_2 %></span>
        <span class="popVioLeftSideFigures" style="top:66.6666%; margin-top:-0.5em;"><%= national_violence_chart_incidents_key_3 %></span>
        <span class="popVioLeftSideFigures" style="bottom:0;">0</span>
        <div class="popVioGraphBars">
            <svg class="popVioSvgLines" viewBox='0 0 200 100' preserveAspectRatio='none'></svg>
        </div>
        <span class="popVioRightSideFigures" style="top:0;">1.5</span>
        <span class="popVioRightSideFigures" style="top:33.3333%; margin-top:-0.5em;">1</span>
        <span class="popVioRightSideFigures" style="top:66.6666%; margin-top:-0.5em;">0.5</span>
        <span class="popVioRightSideFigures" style="bottom:0;">0</span>
    </div>
    </div>
</div>
<p class="dataSource popVioGraphDataSource"><%= source %></p>

<p class="sectionPBody"><%= dv_population_1 %></p>
<p class="sectionPBody"><%= dv_population_2 %></p>
<p class="sectionPBody"><%= story_14 %></p>
<p class="sectionPBody"><%= story_15 %></p>
<p class="sectionPBody"><%= story_16 %></p>
<p class="sectionPBody"><%= story_17 %></p>
<p class="sectionPBody"><%= story_18 %></p>
<p class="sectionPBody"><%= story_19 %></p>
<p class="sectionPBody"><%= story_20 %></p>
<p class="sectionPBody"><%= story_21 %></p>
<p class="sectionPBody"><%= story_22 %></p>
<p class="sectionPBody"><%= story_23 %></p>
<p class="sectionPBody"><%= story_24 %></p>
<p class="sectionPBody"><%= story_25 %></p>
<p class="sectionPBody"><%= story_26 %></p>
<p class="sectionPBody"><%= story_27 %></p>
<p class="sectionPBody"><%= story_28 %></p>