<div class="sectionSeperator"></div>
<h4><%= rate_of_violence_title %></h4>
<div class="map1Holder">
	<h5><%= map_2003_title %></h5>
	<span class="tooltipOpacityAnim mapTooltip hideMapTooltip"></span>
</div><div class="map2Holder">
	<h5><%= map_2013_title %></h5>
	<span class="tooltipOpacityAnim mapTooltip hideMapTooltip"></span>
</div>
<div class="statesMapsKey">
	<h5><%= num_of_incidents_per %></h5>
	<ul>
		<li><%= incidents_range_0 %></li><li><%= incidents_range_1 %></li><li><%= incidents_range_2 %></li><li><%= incidents_range_3 %></li><li><%= incidents_range_4 %></li><li><%= incidents_range_5 %></li>
	</ul>
	<span class="dataSource"><%= source %></span>
</div>
<p class="sectionPBody"><%= state_map_1 %></p>
<p class="sectionPBody"><%= state_map_2 %></p>
<p class="sectionPBody"><%= state_map_3 %></p>