<p class="sectionPBody"><%= story_29 %></p>
<p class="sectionPBody"><%= story_30 %></p>
<p class="sectionPBody"><%= story_31 %></p>
<p class="sectionPBody"><%= story_32 %></p>
<p class="credits"><%= credits %></p>