<div class="sectionSeperator"></div>
<h5 class="surveyGraphTitle"><%= gender_title %></h5>
<p class="surveyGraphSubTitle"><%= gender_subtitle %></p>

<div class="surveyKeyHolder">
	<span class="surveyGraphKeyWoman"><%= gender_key_women %></span>
	<span class="surveyGraphKeyMan"><%= gender_key_men %></span>
</div>

<div class="surveyGraphHolder">

	<div class="surveyGraphLinesHolder">
		<div class="surveyGraphLinesHolderRel">
			<div class="surveyGraphLine" style="left:0;"></div>
			<div class="surveyGraphLine" style="left:16.66666666666667%;"></div>
			<div class="surveyGraphLine" style="left:33.33333333333334%;"></div>
			<div class="surveyGraphLine" style="left:50.000000000000014%;"></div>
			<div class="surveyGraphLine" style="left:66.66666666666669%;"></div>
			<div class="surveyGraphLine" style="left:83.33333333333336%;"></div>
			<div class="surveyGraphLine" style="right:0;"></div>

			<span class="surveyGraphLineNumFirst">0</span><span class="surveyGraphLineNum">10</span><span class="surveyGraphLineNum">20</span><span class="surveyGraphLineNum">30</span><span class="surveyGraphLineNum">40</span><span class="surveyGraphLineNum">50</span><span class="surveyGraphLineNumLast">60</span>
		</div>
	</div>

	<div class="surveyQuestionHolder">
		<p><%= gender_overall %></p>
		<div class="surveyBarsHolder">
			<div class="surveyBarWoman" style="width:90.66666666666686%;"></div>
			<div class="surveyBarMan" style="width:85.00000000000017%;"></div>
		</div>
	</div>

	<div class="surveyQuestionHolder">
		<p><%= gender_in_laws %></p>
		<div class="surveyBarsHolder">
			<div class="surveyBarWoman" style="width:67.66666666666681%;"></div>
			<div class="surveyBarMan" style="width:62.16666666666679%;"></div>
		</div>
	</div>

	<div class="surveyQuestionHolder">
		<p><%= gender_neglect %></p>
		<div class="surveyBarsHolder">
			<div class="surveyBarWoman" style="width:57.83333333333346%;"></div>
			<div class="surveyBarMan" style="width:48.166666666666764%;"></div>
		</div>
	</div>

	<div class="surveyQuestionHolder">
		<p><%= gender_arguing %></p>
		<div class="surveyBarsHolder">
			<div class="surveyBarWoman" style="width:50.50000000000011%;"></div>
			<div class="surveyBarMan" style="width:43.16666666666675%;"></div>
		</div>
	</div>

	<div class="surveyQuestionHolder">
		<p><%= gender_going_out %></p>
		<div class="surveyBarsHolder">
			<div class="surveyBarWoman" style="width:48.333333333333435%;"></div>
			<div class="surveyBarMan" style="width:39.00000000000008%;"></div>
		</div>
	</div>

	<div class="surveyQuestionHolder">
		<p><%= gender_suspicion %></p>
		<div class="surveyBarsHolder">
			<div class="surveyBarWoman" style="width:41.83333333333342%;"></div>
			<div class="surveyBarMan" style="width:39.333333333333414%;"></div>
		</div>
	</div>

	<div class="surveyQuestionHolder">
		<p><%= gender_cooking %></p>
		<div class="surveyBarsHolder">
			<div class="surveyBarWoman" style="width:34.000000000000064%;"></div>
			<div class="surveyBarMan" style="width:21.33333333333338%;"></div>
		</div>
	</div>

	<div class="surveyQuestionHolder">
		<p><%= gender_sex %></p>
		<div class="surveyBarsHolder">
			<div class="surveyBarWoman" style="width:23.500000000000046%;"></div>
			<div class="surveyBarMan" style="width:13.500000000000027%;"></div>
		</div>
	</div>
</div>
<p class="dataSource surveyGraphDataSource"><%= second_source %></p>