<div class="introHolder">
	<a href="http://www.bbc.co.uk/news/world-24371433" target="_blank">
		<img src="./img/100_women_branding_2014.png" style="width:100%; max-width:224px; height:auto;">
	</a>
	<div class="introBottom"></div>
	<p style="margin:0;"><%= intro %></p>
</div>