<!-- violence breakdown graph translations -->
<span class="hideMe" id="violenceBreakdownSpan_DM"><%= violenceBreakdownSpan_DM %></span>
<span class="hideMe" id="violenceBreakdownSpan_M"><%= violenceBreakdownSpan_M %></span>
<span class="hideMe" id="violenceBreakdownSpan_K"><%= violenceBreakdownSpan_K %></span>
<span class="hideMe" id="violenceBreakdownSpan_R"><%= violenceBreakdownSpan_R %></span>
<span class="hideMe" id="violenceBreakdownSpan_O"><%= violenceBreakdownSpan_O %></span>

<!-- states provences and city translations -->
<span class="hideMe" id="IN_PY_name"><%= IN_PY %></span>
<span class="hideMe" id="IN_KA_name"><%= IN_KA %></span>
<span class="hideMe" id="IN_BR_name"><%= IN_BR %></span>
<span class="hideMe" id="IN_CT_name"><%= IN_CT %></span>
<span class="hideMe" id="IN_TN_name"><%= IN_TN %></span>
<span class="hideMe" id="IN_UT_name"><%= IN_UT %></span>
<span class="hideMe" id="IN_CH_name"><%= IN_CH %></span>
<span class="hideMe" id="IN_AN_name"><%= IN_AN %></span>
<span class="hideMe" id="IN_GA_name"><%= IN_GA %></span>
<span class="hideMe" id="IN_WB_name"><%= IN_WB %></span>
<span class="hideMe" id="IN_SK_name"><%= IN_SK %></span>
<span class="hideMe" id="IN_GJ_name"><%= IN_GJ %></span>
<span class="hideMe" id="IN_MN_name"><%= IN_MN %></span>
<span class="hideMe" id="IN_DL_name"><%= IN_DL %></span>
<span class="hideMe" id="IN_LD_name"><%= IN_LD %></span>
<span class="hideMe" id="IN_NL_name"><%= IN_NL %></span>
<span class="hideMe" id="IN_RJ_name"><%= IN_RJ %></span>
<span class="hideMe" id="IN_MP_name"><%= IN_MP %></span>
<span class="hideMe" id="IN_DN_name"><%= IN_DN %></span>
<span class="hideMe" id="IN_OR_name"><%= IN_OR %></span>
<span class="hideMe" id="IN_HR_name"><%= IN_HR %></span>
<span class="hideMe" id="IN_MZ_name"><%= IN_MZ %></span>
<span class="hideMe" id="IN_HP_name"><%= IN_HP %></span>
<span class="hideMe" id="IN_AP_name"><%= IN_AP %></span>
<span class="hideMe" id="IN_TR_name"><%= IN_TR %></span>
<span class="hideMe" id="IN_AR_name"><%= IN_AR %></span>
<span class="hideMe" id="IN_AS_name"><%= IN_AS %></span>
<span class="hideMe" id="IN_DD_name"><%= IN_DD %></span>
<span class="hideMe" id="IN_PB_name"><%= IN_PB %></span>
<span class="hideMe" id="IN_ML_name"><%= IN_ML %></span>
<span class="hideMe" id="IN_JH_name"><%= IN_JH %></span>
<span class="hideMe" id="IN_JK_name"><%= IN_JK %></span>
<span class="hideMe" id="IN_UP_name"><%= IN_UP %></span>
<span class="hideMe" id="IN_MH_name"><%= IN_MH %></span>
<span class="hideMe" id="IN_KL_name"><%= IN_KL %></span>
<span class="hideMe" id="disputed_1_name"><%= disputed_1 %></span>
<span class="hideMe" id="disputed_2_name"><%= disputed_2 %></span>
<span class="hideMe" id="disputed_3_name"><%= disputed_3 %></span>

<span class="hideMe" id="city_1_name"><%= city_1 %></span>
<span class="hideMe" id="city_2_name"><%= city_2 %></span>
<span class="hideMe" id="city_3_name"><%= city_3 %></span>
<span class="hideMe" id="city_4_name"><%= city_4 %></span>
<span class="hideMe" id="city_5_name"><%= city_5 %></span>
<span class="hideMe" id="city_6_name"><%= city_6 %></span>
<span class="hideMe" id="city_7_name"><%= city_7 %></span>
<span class="hideMe" id="city_8_name"><%= city_8 %></span>
<span class="hideMe" id="city_9_name"><%= city_9 %></span>
<span class="hideMe" id="city_10_name"><%= city_10 %></span>
<span class="hideMe" id="city_11_name"><%= city_11 %></span>
<span class="hideMe" id="city_12_name"><%= city_12 %></span>
<span class="hideMe" id="city_13_name"><%= city_13 %></span>
<span class="hideMe" id="city_14_name"><%= city_14 %></span>
<span class="hideMe" id="city_15_name"><%= city_15 %></span>
<span class="hideMe" id="city_16_name"><%= city_16 %></span>
<span class="hideMe" id="city_17_name"><%= city_17 %></span>
<span class="hideMe" id="city_18_name"><%= city_18 %></span>
<span class="hideMe" id="city_19_name"><%= city_19 %></span>
<span class="hideMe" id="city_20_name"><%= city_20 %></span>
<span class="hideMe" id="city_21_name"><%= city_21 %></span>
<span class="hideMe" id="city_22_name"><%= city_22 %></span>
<span class="hideMe" id="city_23_name"><%= city_23 %></span>
<span class="hideMe" id="city_24_name"><%= city_24 %></span>
<span class="hideMe" id="city_25_name"><%= city_25 %></span>
<span class="hideMe" id="city_26_name"><%= city_26 %></span>
<span class="hideMe" id="city_27_name"><%= city_27 %></span>
<span class="hideMe" id="city_28_name"><%= city_28 %></span>
<span class="hideMe" id="city_29_name"><%= city_29 %></span>
<span class="hideMe" id="city_30_name"><%= city_30 %></span>
<span class="hideMe" id="city_31_name"><%= city_31 %></span>
<span class="hideMe" id="city_32_name"><%= city_32 %></span>
<span class="hideMe" id="city_33_name"><%= city_33 %></span>
<span class="hideMe" id="city_34_name"><%= city_34 %></span>
<span class="hideMe" id="city_35_name"><%= city_35 %></span>
<span class="hideMe" id="city_36_name"><%= city_36 %></span>
<span class="hideMe" id="city_37_name"><%= city_37 %></span>
<span class="hideMe" id="city_38_name"><%= city_38 %></span>
<span class="hideMe" id="city_39_name"><%= city_39 %></span>
<span class="hideMe" id="city_40_name"><%= city_40 %></span>
<span class="hideMe" id="city_41_name"><%= city_41 %></span>
<span class="hideMe" id="city_42_name"><%= city_42 %></span>
<span class="hideMe" id="city_43_name"><%= city_43 %></span>
<span class="hideMe" id="city_44_name"><%= city_44 %></span>
<span class="hideMe" id="city_45_name"><%= city_45 %></span>
<span class="hideMe" id="city_46_name"><%= city_46 %></span>
<span class="hideMe" id="city_47_name"><%= city_47 %></span>
<span class="hideMe" id="city_48_name"><%= city_48 %></span>
<span class="hideMe" id="city_49_name"><%= city_49 %></span>
<span class="hideMe" id="city_50_name"><%= city_50 %></span>
<span class="hideMe" id="city_51_name"><%= city_51 %></span>
<span class="hideMe" id="city_52_name"><%= city_52 %></span>
<span class="hideMe" id="city_53_name"><%= city_53 %></span>

<!-- case study videi playlist path -->
<span class="hideMe" id="videoPlaylistPathFirstHalf"><%= video_link_first_half %></span>
<span class="hideMe" id="videoPlaylistPathSecondHalf"><%= video_link_second_half %></span>