<div class="sectionSeperator"></div>
<div class="violenceBreakdownChartTopTextHolder">
	<h2 class="centerText"><%= opener_2 %></h2>
	<p class="centerText pbottom"><%= opener_3 %></p>
</div>
<div class="violenceBreakdownChartVerticalLine"></div>
<div class="violenceBreakdownChartHorizontalLine"></div>
<div class="violenceBreakdownChart">
	<div class="chartSection" id="chartSectionDM">
	</div><div class="chartSection" id="chartSectionM">
	</div><div class="chartSection" id="chartSectionK">
	</div><div class="chartSection" id="chartSectionR">
	</div><div class="chartSection" id="chartSectionO">
	</div>
</div>
<div class="violenceBreakdownChartText">
	<div class="chartSection" id="chartSectionDM">
		<span class="chartSectionVal"><%= chart1_domestic_violence_number %></span>
		<span class="chartSectionLabel"></span>
	</div><div class="chartSection" id="chartSectionM">
		<span class="chartSectionVal"><%= chart1_molestation_number %></span>
		<span class="chartSectionLabel"></span>
	</div><div class="chartSection" id="chartSectionK">
		<span class="chartSectionVal"><%= chart1_kidnapping_number %></span>
		<span class="chartSectionLabel"></span>
	</div><div class="chartSection" id="chartSectionR">
		<span class="chartSectionVal"><%= chart1_rape_number %></span>
		<span class="chartSectionLabel"></span>
	</div><div class="chartSection" id="chartSectionO">
		<span class="chartSectionVal"><%= chart1_other_number %></span>
		<span class="chartSectionLabel"></span>
	</div>
</div>
<p class="dataSource" style="margin:0; padding:0 0 0.5em 0; text-align:center;"><%= source %></p>